fastapi 
uvicorn 
langchain 
langgraph
langchain-anthropic
langchain-community==0.3.24
python-dotenv==1.1.0
sqlalchemy 
psycopg2-binary 
passlib
pydantic[email]
alembic
bcrypt
modelcontextprotocol
anthropic
mcp
pytz

# Development and CI Tools
black==24.4.2
flake8==7.1.0
pytest==8.2.2
coverage==7.5.3
coveralls==4.0.1