# .ebextensions/01_fastapi.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    PIP_TIMEOUT: "600"
    PIP_DEFAULT_TIMEOUT: "600"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "main:app"
  aws:elasticbeanstalk:command:
    Timeout: "1800"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip setuptools wheel"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && alembic upgrade head"
    leader_only: true
