container_commands:
  01_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip setuptools wheel"
    leader_only: true
  02_install_dependencies:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python -m alembic upgrade head"
    leader_only: true
    env:
      PYTHONPATH: "/var/app/current"